.window_panel {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 2000;
  background: #eee;
  color: #000;
  background-color: #FFF;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  clear: both;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  overflow: hidden;
}

.window_panel .window_header {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
  white-space: nowrap;
  /*background: url(../images/patt1.png) repeat-x 0px 2px;*/
  background-color: #FFF;
}

.window_panel .window_header_normal {
  /*background: url('/storage/assets/header_bg.gif') repeat-x;*/
  /* change to use jquery-ui theme instead */
  height: 20px;
  line-height: 20px;
  padding: 2px 5px;
  text-align: left;
  cursor: move;
}

.window_panel .window_header_minimize {
  /*background: #CFF4F4;*/
  /* change to use jquery-ui theme instead */
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 2px 5px;
  line-height: 20px;
  text-align: left;
}

.window_panel .window_header_minimize_vertical {
  padding: 7px 0px;
  line-height: 13px;
  text-align: center;
}

.window_panel .window_header_maximize {
  /*background: url('/storage/assets/header_bg.gif') repeat-x;*/
  /* change to use jquery-ui theme instead */
  height: 20px;
  line-height: 20px;
  padding: 2px 5px;
  text-align: left;
  cursor: default;
}

.window_panel .window_frame {
  margin: 0;
  padding: 0;
  border: 0;
}

.window_panel .window_footer {
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #aaa;
  overflow: hidden;
  font-size: 12px;
}

.window_panel .window_footer div {
  margin-left: 5px;
}

.window_panel .window_header .window_title_icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
}

.window_panel .window_header .window_title_text {
  font-weight: bold;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 24px;
  top: 3px;
  margin-left: -20px;
}

.window_panel .window_header .window_title_text_vertical {
  left: 20px;
}

.window_panel .window_header .window_title_text_vertical_with_icon {
  left: 0;
  top: 23px;
}

.window_panel .window_header .window_function_bar {
  height: 23px;
  width: 72px;
  position: absolute;
  right: 0;
  top: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.window_panel .window_header .window_icon_button {
  width: 16px;
  height: 16px;
  z-index: 3200;
  cursor: pointer;
  float: right;
  margin-right: 4px;
  margin-top: 2px;
}

.window_panel .window_header .bookmarkImg {
  background: url('/storage/assets/buttons.png') no-repeat;
  background-position: 0;
  top: 4px;
}

.window_panel .window_header .minimizeImg {
  background: url('/storage/assets/buttons.png') no-repeat;
  background-position: -16px;
  top: 4px;
}

.window_panel .window_header .cascadeImg {
  background: url('/storage/assets/buttons.png') no-repeat;
  background-position: -32px;
  top: 4px;
}

.window_panel .window_header .maximizeImg {
  background: url('/storage/assets/buttons.png') no-repeat;
  background-position: -48px;
  top: 4px;
}

.window_panel .window_header .closeImg {
  background: url('/storage/assets/buttons.png') no-repeat;
  background-position: -64px;
  top: 4px;
}

.window_panel .frame_loading {
  background: url('/storage/assets/loading.gif') no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #777;
  padding-left: 20px;
  text-align: left;
  text-decoration: none;
  clear: both;
  cursor: crosshair;
}

#window_overlay {
  background: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

body {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: arial, sans-serif, Console, Monaco;
    font-size: 11px;
    width: 1000px;
    overflow: hidden;
}

li {
    list-style: none;
}

#container {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

.underground {
    border-bottom: 1px solid #fff;
}

h1,
h2 {
    font-size: 12px;
    font-weight: normal;
    display: inline;
    padding: 0 10px;
}

a,
a:visited {
    color: #000;
    text-decoration: none;
}

#start {
    width: 50px;
    margin: 0 auto;
    margin-top: 200px;
}

#write {
    right: 20px;
    top: 35px;
    z-index: 5000;
    display: none;
}

#load {
    right: 70px;
}

#save {
    right: 20px;
}

.utilButton {
    position: fixed;
    top: 5px;
}

.write_note_box {
    /*border: 1px;*/
    width: 370px;
    height: 130px;
    margin: 0px 0 0 0;
}

.window_panel {
    border: 0px solid #e5e5e5;
    font-size: 11px;
    font-weight: normal;
}

.window_panel .window_header {
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    /*border: 1px  solid #888 !important;*/

    width: 10px;
    background-color: #fff;
    height: 5px;
    /*	background: url("/storage/assets/moveCursor.png') 0 0 no-repeat;*/
}

.window_panel .window_footer {
    border: 1px;
    height: 5px;
}

.ui-widget-header {
    border: 1px solid #000 !important;
    background-color: #fff;
}

.ui-resizable-se {
    bottom: 10px;
}

.ui-icon-gripsmall-diagonal-se {
    background: #fff url("/storage/assets/resize_corner.png") -5px -5px
        no-repeat;
    padding-top: 14px;
}

.blue_text .ui-icon-gripsmall-diagonal-se {
    padding-top: 5px;
}

.ui-widget-header {
    background-image: none;
}

.window_panel .window_header .maximizeImg {
    display: none;
}

.window_panel .window_frame {
    overflow: hidden !important;
}

.window_panel .window_frame:hover {
    overflow: auto !important;
}

.window_panel .window_frame .window_container {
    padding: 0 15px 0 3px;
}

.window_panel .window_frame:hover .window_container {
    padding: 0 0px 0 3px;
}

/* for search result*/

.window_panel .window_frame .title_list {
    margin: 0 15px 0 3px;
}

.window_panel .window_frame:hover .title_list {
    margin: 0 0px 0 3px;
}

/* for list*/

.window_panel .window_frame .large_text_section {
    padding: 0px 15px 0 3px;
}

.window_panel .window_frame:hover .large_text_section {
    padding: 0 0px 0 3px;
}

/* for large text section*/

.window_panel .window_frame .text_section {
    padding: 0px 0px 0 3px;
}

-moz-hidden-unscrollable .window_panel .window_header .closeImg:after {
    content: "-";
}

.window_panel .window_header .closeImg {
    color: #888;
    margin-top: -10px;
    margin-right: 30px;
    padding-bottom: 6px;
}

.window_panel .window_header .closeImg:after {
    content: "_";
}

.window_panel .window_header .closeImg,
.window_panel .window_header .minimizeImg {
    background: none;
    font-size: 12px;
}

.search_input {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 5000;
}

.window_container {
    padding: 0 5px;
    font-size: 11px;
    color: #000;
}

.loading {
    margin: 100px 180px;
}

.defulat-link-color a {
    color: #00ffff;
}

.defulat-link-color a:visited {
    color: #800080;
}

.footnote {
    font-size: 10px;
    border-top: 1px solid black;
}

.search_box {
    width: 230px;
    margin: 0 auto;
}

input {
    border: 1px solid black;
    font-size: 11px;
}

.local_search {
    border: 1px solid #888;
    display: block;
    margin-bottom: 3px;
    margin-top: 1px;
}

.window_panel .window_header .minimizeImg {
    display: none;
}

/* for now. it is buggy*/

.checkboxes {
    display: none;
    position: absolute;
    top: 7px;
    left: 135px;
}

.arrow {
    padding-left: 5px;
}

.checkboxes .top_chck arrow {
    top: 0px;
    left: 22px;
}

.checkboxes .right_chck arrow {
    top: 5px;
    left: 29px;
}

.checkboxes .bottom_chck arrow {
    top: 12px;
    left: 22px;
}

.checkboxes .left_chck arrow {
    top: 5px;
    left: 9px;
}

.results_box {
    padding: 0 5px;
    margin-top: 0;
}

.results_box li {
    padding: 0;
    margin: 0 0 3px 0;
    list-style: none;
}

.results_box li p {
    margin: 3px 0 5px 0;
    overflow: hidden;
}

.results_box li a:hover {
    text-decoration: underline;
}

.note_box {
    width: 230px;
    height: 280px;
    border: 1px solid #555;
}

.result_container a {
    text-decoration: underline;
}

.result_container .results_box a {
    text-decoration: none;
}

.highlight {
    color: #777;
    background-color: #f8f8f8;
    text-decoration: underline;
}

.results_box .highlight {
    background-color: #fff;
    color: #555;
}

.text_section .highlight {
    text-decoration: underline;
}

.results_box .highlight {
    text-decoration: none;
}

#tooltip {
    position: fixed;
    bottom: 5px;
    left: 5px;
    display: none;
    z-index: 100;
}

.write_container {
    z-index: 3000;
    background: white;
}

.window_panel .window_frame .write_container {
    padding-right: 0;
    overflow: hidden;
}

.window_panel .window_frame:hover .write_container {
    padding-right: 0;
}

.write_container .window_function_bar {
    display: none;
}

#window_0 {
    border: 1px solid black;
}

.write_container .ui-resizable-se {
    bottom: -15px;
    right: -2px;
}

.write_container .window_panel .window_footer {
    height: 0;
}

h2.suggestion {
    display: block;
    margin-top: 20px;
}

.wiki_suggestions {
    margin: 0;
    padding: 0;
    min-height: 30px;
}

.wiki_suggestions li {
    display: inline;
    list-style: none outside none;
    padding-right: 5px;
}

.wiki_suggestions li a {
    color: #555555;
}

.wiki_suggestions li .rel {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    font-size: 10px;
}

.suggestions {
    line-height: 11px;
}

.write_container textarea {
    resize: none;
    border: 0px;
    overflow: hidden;
    outline: none;
}

.text_section {
    font-size: 11px;
    margin-left: 2px;
}

.text_section h2 {
    padding: 0;
    font-size: 11px;
}

.title_list {
    padding: 0 0 0 2px;
    margin: 0;
    font-size: 11px;
}

.title_list a:hover {
    text-decoration: underline;
}

/*	.window_panel .window_frame:hover .text_section { padding: 0 0px 0 3px } */

.window_panel .window_header .window_function_bar {
    top: 0;
}

.save {
    display: block;
    width: 16px;
    height: 16px;
    margin: 2px 5px;
}

.write_container:hover .save {
    background: url("/storage/assets/email-icon.png") 0 0 no-repeat;
}

.save {
    width: 250px;
    /* for list*/
    height: 16px;
    position: relative;
}

.save .save-options {
    display: none;
    left: 15px;
    position: absolute;
    top: 0px;
    font-size: 12px;
    padding: 0 5px;
    margin: 0;
}

.save .save-options li {
    display: inline;
    background-color: #fefeaa;
    margin-right: 1px;
    padding: 1px 2px;
    border: 1px dotted #888;
}

.save .save-options li a {
    color: #666;
}

.save:hover .save-options {
    display: block;
}

.twitter_container {
    position: absolute;
    bottom: 12px;
}

#twitter_result {
    display: inline-block;
    width: 380px;
    padding-left: 2px;
    color: #555;
}

._jsPlumb_endpoint, .jtk-endpoint {
    z-index: 4000;
    cursor: move;
    opacity: 0;
}

._jsPlumb_endpoint:hover, .jtk-endpoint:hover {
    opacity: 0.1;
}

.blue_overlay {
    color: #00f;
    position: absolute;
    background: none;
    opacity: 0.8;
    top: 30px;
}

.blue_text {
    color: #00f!important;
    font-size: 11px;
}

.red_text {
    color: #f00;
}

.red_text .highlight {
    color: #a00;
}

.blue_text .highlight {
    color: #00a;
}

.green_text {
    color: #00ff00;
}

.green_text .highlight {
    color: #0a0;
}

.ui-slider-horizontal .ui-slider-handle {
    cursor: ew-resize;
    border-right: 1px solid #000;
    width: 4px;
    height: 10px;
    top: 2px;
    margin-left: 0;
}

.ui-slider-horizontal {
    border-bottom: 1px solid #bbb;
}

.wikify_slider {
    display: none!important; /* Not working */
    width: 100px;
    margin: 3px 0 3px 0px;
}

.wm_wikifiedLink {
    color: #888;
    background-color: #e8e8e8;
    opacity: 0.9;
}

.search_hint {
    padding: 1px;
    margin: 5px 0 0 5px;
    width: 150px;
    display: none;
    background-color: #fefeaa;
    border: 1px dotted #aaa;
    font-family: arial;
    font-size: 11px;
    box-shadow: 5px 5px 4px #999;
    color: #555;
}

.hint_screenshot {
    display: none;
    opacity: 0;
    position: absolute;
    top: 7px;
    right: 10px;
    background: url("/storage/assets/screen.png") top right no-repeat;
    width: 100%;
    height: 100%;
}

.text_section h2 a:hover {
    text-decoration: underline;
}

#hint_message {
    color: #555;
    background-color: #fefeaa;
    text-align: right;
    vertical-align: right;
    border: 1px dotted #aaa;
    float: right;
    margin: 2px 5px;
}

